/* Should only consist of animation-related or transform-related css*/

.apply-slider-animation {
  transform-style: preserve-3d;
  transform: perspective(100vw) rotateX(-8deg) rotateY(calc(var(--slider-rotation-degree) * 1deg));
  transition: transform 300ms ease;
}

.apply-slider-animation .transform-slider-item {
  transform: rotateY(calc(var(--slider-item-position-degree) * 1deg)) translateZ(0vw) scale(var(--slider-item-scale));
  animation: move-in-z 1s ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 200ms;
  opacity: 0;
}


@keyframes move-in-z {
  0% {
    opacity: 0;
    transform: rotateY(calc(var(--slider-item-position-degree) * 1deg)) translateZ(0vw) scale(var(--slider-item-scale));
  }

  25% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
    transform: rotateY(calc(var(--slider-item-position-degree) * 1deg)) translateZ(32vw) scale(var(--slider-item-scale));
  }
}
