.apply-rotation-animation {
    transform-style: preserve-3d;
    transform: perspective(100vw);
    animation: rotation 10s linear infinite;

}



@keyframes rotation {
    0% {
        transform: perspective(100vw) rotateY(0deg);
    }

    100% {
        transform: perspective(100vw) rotateY(360deg);
    }
}
